body {
    font-family: 'Proxima nova';
    background-color: #616e80;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index:-5;
  }


#gamebox {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    z-index: -1;
}

#arcadebox {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
}